
<style type="text/css">
  body {background-image: url(/assets/Event.png); background-size:1920px 950px;}
  .event_show{padding-left: 120px; padding-top:100px; font-size:55px}
  .event_form{padding-left: 75px; padding-top:0px; font-size:25px}
  .form-buttons{padding-left: 275px; padding-top:50px;}
</style>
<body>
  <div class="event_show">
    <h2>Update Event </h2>
    <%= form_for(@event) do |e| %>
    <table class= "event_form" summary="book form">
      <tr>
        <th>Event</th>
        <td><%= e.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= e.text_field(:description) %></td>
      </tr>
      <tr>
        <th>Location</th>
        <td><%= e.text_field(:location) %></td>
      </tr>
      <tr>
        <th>Date</th>
        <td><%= e.date.strftime("%B %d, %Y") %></td>
      </tr>
      <tr>
        <th>Time</th>
        <td><%= e.text_field(:time) %></td>
      </tr>
      <tr>
        <th>Points</th>
        <td><%= e.text_field(:points) %></td>
      </tr>
    </table>
  </div>

  <div class = "form-buttons">
    <%= e.submit("Update Event")%>
    <%= link_to("Back", events_path, :class => 'back-link') %>
  </div>
  <% end %>
</body>