<style type="text/css">
  body {background-image: url(/assets/EventViewFinal3.png); background-size:1920px 950px;}
  #container{width:1900px; margin-right:auto; margin-left:auto}
  .EventsButtons{padding-left: 50px; text-align:center}
  #newevent, #newhousehold, #logout {display:inline-block;}
  .events_index{text-align:center}
  #listing{padding-left: 550px}
  .media{text-align:center}
  #table_table_hover{padding-left: 510px}
  .PieChart{text-align:center}
</style>
<br />
<div class="EventsButtons">
      <div class = "form-buttons" text-align = "right" id = "newevent">
        <%= button_to("Add a new event", { :action => "new" }, :method => :get, :class => 'action new') %>
      </div>
      <div class = "form-buttons" text-align = "right" id = "newhousehold">
        <%= button_to("Add a new household", households_path, :method => :get) %>
      </div>
      <div class = "form-buttons" text-align = "right" id ="logout">
        <%= button_to("Logout", { :action => "logout" }, :method => :get, :class => 'login new') %>
      </div>
      <% flash.each do |key, value| %>
        <td><%= value%> </td>
      <%end%>
</div>

<body>
<div id = "container">
  <%= stylesheet_link_tag "table" %>
    <%= javascript_include_tag 'test' %>
  <div class= "events_index">
    <%= image_tag ("vsa.png") %>
    <h2>VSA Events    </h2>
    <p>View all the Events in our club</p>
  </div>

      <table class ="table" id = "listing">
        <tr class="header">
          <th>Events</th>
          <th>Description</th>
          <th>Location</th>
          <th>Date</th>
          <th>Time</th>
          <th>Points</th>
          <th>Link</th>
        </tr>
      <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.location %></td>
        <td><%= event&.date&.strftime('%B %e, %Y') %></td>
        <td><%= event.time %></td>
        <td><%= event.points %></td>
        <td><%= event.link %></td>
          <td class="actions">
          <%= link_to("Details", event_path(event), :class => 'action show') %>
          <%= link_to("Update", edit_event_path(event), :class => 'action edit') %>
          <%= link_to("Delete", delete_event_path(event), :class => 'action delete') %>
        </td>
      </tr>


    <% end %>
    </table>

      <div class="media">
        <h2>VSA Points</h2>
        <div class="media-body">
          <table role="datatable" class="table" id = "table_table_hover">
            <thead>
              <tr>
                <th>First</th>
                <th>Last</th>
                <th>Uin</th>
                <th>Family</th>
                <th>Email</th>
                <th>Phonenumber</th>
                <th>Classification</th>
                <th>Major</th>
                <th>Points</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @households.each do |household| %>
                <tr>
                  <td><%= household.first %></td>
                  <td><%= household.last %></td>
                  <td><%= household.UIN %></td>
                  <td><%= household.family %></td>
                  <td><%= household.email %></td>
                  <td><%= household.phonenumber %></td>
                  <td><%= household.classification %></td>
                  <td><%= household.major %></td>
                  <td><%= household.points %></td>
                  <td><%= link_to 'Show', household %></td>
                  <td><%= link_to 'Edit', edit_household_path(household) %></td>
                  <td><%= link_to 'Destroy', delete_household_path(household) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

<div class="PieChart">
    <%= pie_chart Household.group(:family).sum(:points) %>
</div>

<br />
<br />

</div>
</body>
