<style type="text/css">
  body {background-image: url(/assets/EventView.png); background-size:1920px 950px;}
  .events_index{padding-left: 80px; text-align:center}
  .listing{padding-left: 685px}
  .Logos{text-align:center; padding-left: 65px; margin: 5px 5px 5px 5px}
</style>
<br />
<div class = "form-buttons" text-align = "right">
  <%= button_to("Administrator Login", { :action => "login" }, :method => :get, :class => 'login new') %>
</div>
<body>
  <div class= "events_index">
  <%= image_tag ("vsa.png") %>
  <h2>VSA Events</h2>
  <p>View all the events in our club CICD test</p>
    <table class="listing" summary="events list">
      <tr class="header">
        <th>Events</th>
        <th>Description</th>
        <th>Location</th>
        <th>Time</th>
        <th>Points</th>

      </tr>
      <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td><%= event.location %></td>
        <td><%= event.time %></td>
        <td><%= event.points %></td>
          <td class="actions">
          <%= link_to("Details", event_path(event), :class => 'action show') %>
        </td>
      </tr>
      <% end %>
    </table>
  <br />
    <% flash.each do |key, value| %>
      <td><%= value%> </td>
    <%end%>
  </div>

  <div class="Logos">
    <a href="https://www.facebook.com/groups/vasa.tamu" target="_blank"> <%= image_tag ("FacbookLogo.png") %> </a>
    <a href="https://www.instagram.com/tamuvsa/" target="_blank"> <%= image_tag ("InstagramLogo.png") %> </a>
    <a href="https://linktr.ee/tamuvsa" target="_blank"> <%= image_tag ("LinkTreeLogo.png") %> </a>
  </div>


</body>